<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home - Home Page | Design Company - Free Website Template from Templatemonster.com</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/search/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="static/search/css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="static/search/js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="static/search/js/cufon-yui.js"></script>
  <script type="text/javascript" src="static/search/js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="static/search/js/Humanst521_Lt_BT_400.font.js"></script>
	<script type="text/javascript" src="static/search/js/roundabout.js"></script>
  <script type="text/javascript" src="static/search/js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="static/search/js/gallery_init.js"></script>
  <script type="text/javascript" src="static/search/js/cufon-replace.js"></script>
  <script type="text/javascript" src="static/search/js/search.js"></script>
  <!--[if lt IE 7]>
  	<link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
    	<h1><a href="index.html">Know Why</a></h1>
      <nav>
        <ul>
          <li><a href="index.html" >Home</a></li>
          <li><a href="search.html">Search</a></li>
	  <li><a href="search_pair.html">RCPair</a></li>
          <li><a href="contacts.html" class="current">Contact</a></li>
        </ul>
      </nav>
    </div>
	</header>
  
  <div class="main-box-o">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
        
          <section style="clear:both;width=1000px;">
            <article>
            	<h2>Developer <span>Introduction</span></h2>
              <div class="member">
	      <img class="photo" src = "static/search/images/xingshi.jpg" height = "200px"/>
	      <div class="intro"><span style="font-weight:bold;">Xing Shi</span> is current a Ph.D candidate in Department of Computer Science at USC. His instrests include Opinion Mining, Discourse Parsing, and some other NLP relavant tasks.<p/>
		<a class="linkin" href="http://www.linkedin.com/pub/xing-shi/3b/b79/b1b"><img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Xing Shi's profile on LinkedIn"> </a>
	      </div>
	      </div>
              <div class="member">
		<img class = "photo" src = "static/search/images/aihe.jpg" height = "200px"/>
		<div class="intro"><span style="font-weight:bold;">Ai He</span> is currently a MS student of Computer Science at USC and would like to seek a job to start his career after graduation, in 2014. Ai has expertise on text mining and named entity recognition. Positions related to those fields above are welcomed and positions about website development are appropriate as well.<p/>
<a class="linkin" href="http://www.linkedin.com/pub/ai-he/58/80/362"><img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Ai He's profile on LinkedIn"></a>
</div>
	      </div>

            </article> 
          </section>

	<!-- aside -->
          <aside>
            <h2>Our <span>Contacts</span></h2>
            <!-- .contacts -->
            <ul class="contacts">
            	<li><strong>Zip Code:</strong>90007</li>
              <li><strong>Country:</strong>USA</li>
              <li><strong>City:</strong>Los Angeles</li>
              <li><strong>Email:</strong><a href="#">xingshi@usc.edu (Xing Shi) </a></li>
              <li><strong>Email:</strong><a href="#">aihe@usc.edu (Ai He) </a></li>
	      
            </ul>
            <!-- /.contacts -->
            <h3>Miscellaneous info:</h3>
            <p>You can find almost all resourses from our github.com repo. However, some resources are really large so that we don't have an online version for download. Please contact us to request.</p>
          </aside>
          <!-- content -->


        </div>
      </div>
    </div>
  </div>

<footer style="position:static;">
    <div class="container">
    	<div class="wrapper">
        <div class="fleft">
	  The website is designed by Xing Shi and Ai He.<p>
	  Website template is designed by TemplateMonster.com
	</div>
        
      </div>
    </div>
  </footer>

  <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
