<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home - Home Page | Design Company - Free Website Template from Templatemonster.com</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/search/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="static/search/css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="static/search/js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="static/search/js/cufon-yui.js"></script>
  <script type="text/javascript" src="static/search/js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="static/search/js/Humanst521_Lt_BT_400.font.js"></script>
	<script type="text/javascript" src="static/search/js/roundabout.js"></script>
  <script type="text/javascript" src="static/search/js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="static/search/js/gallery_init.js"></script>
  <script type="text/javascript" src="static/search/js/cufon-replace.js"></script>
  <script type="text/javascript" src="static/search/js/search.js"></script>
  <!--[if lt IE 7]>
  	<link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
    	<h1><a href="index.html">Know Why</a></h1>
      <nav>
        <ul>
          <li><a href="index.html" class="current">Home</a></li>
          <li><a href="search.html">Search</a></li>
	  <li><a href="search_pair.html">RCPair</a></li>
          <li><a href="contacts.html">Contact</a></li>
        </ul>
      </nav>
    </div>
	</header>
  <!-- #gallery -->
  <section id="gallery">
  	<div class="container">
    	<ul id="myRoundabout">
      	<li style="background:white;"><img  src="static/search/images/slide3.png" alt=""></li>
        <li style="background:white;"><img  src="static/search/images/slide2.png" alt=""></li>
        <li style="background:white;"><img src="static/search/images/slide5.png" alt=""></li>
        <li style="background:white;"><img src="static/search/images/slide1.png" alt=""></li>
        <li style="background:white;"><img src="static/search/images/slide4.png" alt=""></li>
      </ul>
  	</div>
  </section>
  <!-- /#gallery -->
  <div class="main-box-o">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
        	<!-- aside -->
          <aside>
            <h2>Recent <span>News</span></h2>
            <!-- .news -->
            <ul class="news">
            	<li>
              	<figure><strong>20</strong>May</figure>
                <h3><a href="#">Website "Know Why" Published</a></h3>
                After several days hardworking, our first version of website finanly published. Currently, it supports business search and reason-consequence pair search!
              </li>
              <li>
              	<figure><strong>20</strong>April</figure>
                <h3><a href="#">RC Pair Extraction Completed</a></h3>
                Our first version of reason consequence pairs extraced from users' reviews. We've got about 10,000 pairs from about 220,000 paragraphs of reviews.
              </li>
              <li>
              	<figure><strong>20</strong>March</figure>
                <h3><a href="#">Got Yelp.com Data</a></h3>
                Got Yelp data from Yelp-DataChallenge. We are interested in the raw text data, like user reviews.
              </li>
            </ul>
            <!-- /.news -->
          </aside>
          <!-- content -->
          <section id="content">
            <article>
            	<h2>Welcome to <span>Know Why!</span></h2>
              <p><span style="font-weight:bold;">Know Why</span> is trying to get a deep understanding of people's opinion from yelp's reviews.</p>
	      
	      <p>we have built a database containing <span style="font-weight:bold;">Reason-Consequence pairs</span> extracted from a Yelp.com review dataset. The difference between our work and the existing causality database lies in that the reason and consequence of a pair are sentences-level instead of word level.  Our precision of causality relation is relatively high, achieving 84%, making it a good resource to analysis the causality relation as well as users' opinion.</p>

              <figure ><a href="#"><img style="height:250px;" src="static/search/images/statistic.png" alt=""></a></figure>
              <p>We now have 10,000 more pairs of causality relationship and they have a very high precision which can be treated as the labeled data. You can browse these pair in two ways: Through <a href="search.html">Search</a>, you can first search the business by name and address, then browse the relevant RC pairs. The second way is to directly search RC pairs by keywords in reason and consequence respectively in <a href="search_pair.html">RCPair</a>. </p>
	      <p>In the near future, we intend to build a model to detect the causality relationship between two clauses and train the model in these 10,000 more pairs. Also,we plan to use the result of co-relation reference dissolution more deeply. The way we expect to do is to find the common part(the parts that are in the same co-reference chain) and then extract abstract templates from those reasons and consequences pairs. We could build another model or do some casual extraction based these abstract causality pairs.</p>
	      <a class="download_file" href="static/search/pdf/Build_Causaility_Knowledgebase_from_Yelp_Reviews.pdf" class="download_file">Download Report Paper</a>
            </article> 
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer style="position:static;">
    <div class="container">
    	<div class="wrapper">
        <div class="fleft">
	  The website is designed by Xing Shi and Ai He.<p>
	  Website template is designed by TemplateMonster.com
	</div>
        
      </div>
    </div>
  </footer>
  <a href="https://github.com/shixing/rcpe"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
  <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
