<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search People's Opinion</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/search/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="static/search/css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="static/search/js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="static/search/js/cufon-yui.js"></script>
  <script type="text/javascript" src="static/search/js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="static/search/js/Humanst521_Lt_BT_400.font.js"></script>
	<script type="text/javascript" src="static/search/js/roundabout.js"></script>
  <script type="text/javascript" src="static/search/js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="static/search/js/gallery_init.js"></script>
  <script type="text/javascript" src="static/search/js/cufon-replace.js"></script> 
  <script type="text/javascript" src="static/search/js/search.js"></script>
  <!--[if lt IE 7]>
  	<link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
    	<h1><a href="index.html">Know Why</a></h1>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="search.html"  >Search</a></li>
	  <li><a href="search_pair.html" class="current">RCPair</a></li>
          <li><a href="contacts.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- #search bar -->
  <div class="main-box">
    
    <div class="container" id="search_bar">
      <div class="search_inside">
	<div class="search_title" style="left:300px">
	  Dive into People's <span style="font-weight:200;">Brain</span> 
	</div>
	<div class="wrapper" style="position: absolute;left: 50px;">
	  <label class = "search_prefix">REASON</label>
	  <input class = "search_input" type="text" id="query_reason" value="loud"/>
	  <label class = "search_prefix">CONSEQUENCE</label>
	  <input class = "search_input" type="text" id="query_consequence" value="star"/>
	  <input type='button' value='Search' class="search_button" onclick="searchRCPair()"/>
	</div>
      </div>
      
    </div>
    <!--# show results -->
    <div class = "scrollable">
      <div class = "pair_results_container">
      <div id = "results_container">

      </div>
      </div>
      </div>
    </div>
    <!--/# show results -->
  </div>
  <!-- /#search bar -->
  
  <!-- footer -->
  <footer>
    <div class="container">
    	<div class="wrapper">
        <div class="fleft">
	  The website is designed by Xing Shi and Ai He.<p>
	  Website template is designed by TemplateMonster.com
	</div>
        
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
